/* GENERAL */
body {
    background-color: #fffffe;
    font-family: "lato", sans-serif;
}

h1 {
    font-size: 1.6em;
    color: #ff8e3c;
    font-weight: bolder;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2em;
}

h3 {
    font-size: 1.3em;
    color: #ff8e3c;
    text-align: center;
    margin-bottom: .7em;
}

.divider {
    width: 80px;
    height: 2px;
    background-color: #ff8e3c;
    margin: 0em auto 0.7em;
}

section {
    margin: 2em auto;
}


/* NAVBAR */
#navbar {
    background-color: #eff0f3;
    border-bottom: 1px solid #ff8e3c;
}

.navbar-nav {
    margin: 0 auto;
}

.nav-link {
    text-transform: uppercase;
    color: #0d0d0d;
    font-weight: 600;
    letter-spacing: .04em;
    margin: 0 .8em;
}

.nav-link:hover {
    background-color: #ff8e3c;
    border-radius: .3em; 
}


/* HEADER */
header {
    background-color: #eff0f3;
    padding: .8em;
}

.img-thumbnail {
    max-width: 9em;
    height: auto;
    margin-right: 2em;
}

#about h2 {
    margin: .5em 0;
    text-align: start;
}

#about a {
    text-decoration: none;
    margin-top: .5em;
    color: #0d0d0d;
    font-size:x-small;
    padding: .3em;
    text-transform: uppercase;
    border: 1px solid #ff8e3c;
    border-radius: .3em;
}

#about a:hover {
    background-color: #ff8e3c;
}


/* SKILLS */
.skills-wrapper > * {
    padding: 0 2em;
    text-align: center;
    margin-bottom: 2em;
}
.progress-bar {
    background-color: #ff8e3c;
    font-size: 1.2em;
    font-weight: bold;
}

.progress {
    margin-bottom: 1em;
    height: 2em;
}

#skills-tech a {
    font-style: italic;
    font-size: .8em;
    color: #363636;
}
