/* GENERAL */
body {
    background-color: #fffffe;
    font-family: "lato", sans-serif;
}

h1 {
    font-size: 1.5em;
    color: #ff8e3c;
    font-weight: bolder;
}

h2 {
    font-size: 1.2em;
}


/* NAVBAR */
#navbar {
    background-color: #eff0f3;
    border-bottom: 1px solid #ff8e3c;
}

.navbar-nav {
    margin: 0 auto;
}

.nav-link {
    text-transform: uppercase;
    color: #0d0d0d;
    font-weight: 600;
    letter-spacing: .04em;
    margin: 0 .8em;
}

.nav-link:hover {
    background-color: #ff8e3c;
    border-radius: .3em; 
}


/* HEADER */
header {
    background-color: #eff0f3;
    padding: .8em;
}

.img-thumbnail {
    max-width: 9em;
    height: auto;
}
